@-webkit-keyframes avisoEntrada {
  0%{opacity: 0; margin-top: -200px;}
  75%{margin-top: -75px;}
  100%{opacity: 1; margin-top: -100px;}
}
@keyframes avisoEntrada {
  0%{margin: -200px auto auto -200px;}
  75%{margin: -75px auto auto -200px;}
  100%{margin: -100px auto auto -200px;}
}
@-webkit-keyframes avisoSaida {
  0%{opacity: 1; margin-top: -100px;}
  75%{opacity: 1; margin-top: -125px;}
  100%{opacity: 0; margin-top: 100px;}
}
@keyframes avisoSaida {
  0%{opacity: 1; margin-top: -100px;}
  75%{margin-top: -125px;}
  100%{opacity: 0; margin-top: 100px;}
}
#popFundo{
    position:fixed;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5097BE;
    opacity: 0.8;
    z-index: 9999;
}  
#aviso{
    position: fixed;
    display: none;
    top: 55%;
    left: 57.3%;
    margin: -100px auto auto -200px;
    padding: 20px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    outline:1px solid #333;
    color: #000;
    z-index: 9999;
 }
.avisoEntrada{
    display: block !important;
    animation: avisoEntrada 0.5s;
    -webkit-animation: avisoEntrada 0.5s;
}
.avisoSaida{
    display: block !important;
    animation: avisoSaida 0.5s;
    -webkit-animation: avisoSaida 0.5s;
    -webkit-animation-fill-mode: forwards;"
    animation-fill-mode: forwards;"
}
#aviso{
    font-family: Verdana, Arial;
}
#aviso h1{
    margin: 5px 0;
    text-align: center;
}
#avisoTexto{
    height: 125px;
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}
#aviso button{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 5px;
    background-color: #333;
    color: #fff;
    outline: none;
    border:0 none;
    cursor: pointer;
}
.alert1{
  font-family:Arial,"微軟正黑體";
  font-size:40px;
  font-weight:bold;
  position:relative;
  top:-15px;
}
.alert2{
  font-family:Arial,"微軟正黑體";
  font-size:18px;
  margin-top: 0px;
  position:relative;
  top:10px;
}
#fechaAviso{
  position:relative;
  top:-65px;
}
.bg_black1{
  width: 100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  position:fixed;
  top:0;
  bottom:0;
  z-index:500;
  display:none;
}